{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/logo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'layouts/header.html' %}
    <!--  -->
    {% block content %}
    <!--  -->
    {% endblock %}
    <!--  -->
    {% include 'layouts/footer.html' %}
    <!--  -->
    {% block extra_js %}{% endblock %}
  </body>
</html>
